# Dev Files
*.swp
.DS_Store

# Built / Compiled Files
*.tar.gz
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.backup
web/main

# Directories
.vscode/
web/frontend/node_modules/
web/frontend/build/static/
.terraform/
.vagrant/
output/
artifact/*

#SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Config Files
web/secrets.json

# Personal Notes
NEIL.md
