# Dev Files
*.swp
.DS_Store

# Built / Compiled Files
*.tar.gz
*.css
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Directories
web/node_modules/
.terraform/
.vagrant/
secret/
output/
artifact/

#SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf
