# Dev Files
*.swp
.DS_Store

# Built / Compiled Files
*.tar.gz
*.css
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
web/main

# Directories
web/frontend/node_modules/
web/frontend/build/static/
web/data/instagram/worker/media/
.terraform/
.vagrant/
output/
artifact/tar/mac/*.tar.gz
artifact/tar/linux/*.tar.gz

#SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Config Files
web/secrets.json

# Personal Notes
NEIL.md
