@import "../../variables.scss";

// NOTE: Overrides for Map and Heatmap should not be addressed by Tailwind.
#heatmap {
	margin-top: 10px;

	@media screen and (max-width: $breakpoint-tablet) {
		width: 60%;
		margin: auto;
	}

	.react-calendar-heatmap {
		// TODO: revisit these sizes
		.react-calendar-heatmap-month-label,
		.react-calendar-heatmap-weekday-label {
			font-size: 0.5em;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			.react-calendar-heatmap-month-label {
				font-size: 5px;
			}
		}

		text {
			fill: #aaa;
		}

		.react-calendar-heatmap-small-text {
			font-size: 5px;
		}

		rect:hover {
			stroke: #555;
			stroke-width: 1px;
		}

		.color-empty {
			fill: #eeeeee;
		}

		.color-filled {
			fill: $chicago-flag-blue;
		}
	}
}
