@import "./variables.scss";

@font-face {
	font-family: "VCR OSD Mono";
	src: url("fonts/VCR_OSD_MONO.eot?") format("eot"),
		url("fonts/VCR_OSD_MONO.woff") format("woff"),
		url("fonts/VCR_OSD_MONO.ttf") format("truetype"),
		url("fonts/VCR_OSD_MONO.svg#VCROSDMono") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	background: #fcfbf9;
	font-family: "VCR OSD Mono", monospace;
	text-transform: uppercase;
	color: #333;

	#root {
		text-transform: uppercase;
		color: $chicago-flag-blue;
		font-family: "VCR OSD Mono", "Courier New", monospace;

		.app {
			position: relative;
			background: #fcfbf9;
			height: 100%;
			width: 720px;
			margin: auto;
			padding-bottom: 100px;

			.app-container {
				.app-metadata {
					text-align: center;
				}

				.profile-picture {
					margin: 25px 0 0;
					border-radius: 50%;
				}

				.descriptor {
					color: #999;
				}

				h3 {
					text-align: center;
				}

				.sys-mes {
					text-align: center;
					display: block;

					&.sys-mes-top {
						margin: 25px 0 10px;
					}

					&.sys-mes-bottom {
						margin: 50px 0;
					}

					span {
						display: block;
					}

					.sys-mes-contents {
						color: #ddd;
						font-size: 16px;
					}

					.sys-mes-description {
						color: #ccc;
						font-size: 8px;
					}
				}

				button {
					text-transform: uppercase;
					color: black;
					font-family: "VCR OSD Mono", "Courier New", monospace;
					background-color: #fff;
					border: 1px solid #ccc;
					border-radius: 5px;
					padding: 10px;
					font-size: 10px;
				}
			}

			@media screen and (max-width: $breakpoint-tablet) {
				width: 90%;
			}
		}
	}
}
